body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box {
    flex-basis: calc(50% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: grey;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}

#boxJajarGenjang {
    background-color:azure;
    color:#ccc;
}

h1 {
    background-color: grey;
    color:white;
    padding: 10px;
    text-align: center;
}

h2 {
    background-color: grey;
    color:white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.desc {
    text-align: center;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#resetKelilingBtn {
    padding: 5px 10px;
    background-color: yellowgreen;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#resetLuasBtn {
    padding: 5px 10px;
    background-color: yellowgreen;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 10px;
}

.centered-image {
    text-align: center;
}

#keliling-form input {
    width: 95%;
}

#luas-form input {
    width: 95%;
}